@page "/A"
@inject NavigationManager Nigger
<PageTitle>STOлица.Лето</PageTitle>


<div class="backgroundUrl align-content-center align-items-center justify-content-center text-center">

    <div Class="d-flex mobiletopimage" style="align-items:center; justify-content:center;height:97vh; background-position:center; background-repeat: no-repeat; background-size:cover; background-image: url(TopMainPhoto.png)">

        <MudImage Src="TopMainLogo.svg" Class="d-flex  " Style="align-self:center; align-items:center; justify-content:center; margin-left: auto; margin-right: auto; width: 50vmin;" />

    </div>

    <div style="background-color: #FFDE0D; width: 100%; height:3vh" />

    <div class="d-flex flex-column flex-lg-row " style="width:98vw; margin: 20vh auto 4vh auto;">

        <div class="d-flex flex-column flex-grow-1 flex-lg-grow-0" style="margin-bottom: 4vh; padding: 4vh 2vw; border-radius:30px; background-color: white;">

            <MudText Style="align-self:start; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (39 - 27) + 27px); line-height: 115%;">
                Палаточный лагерь
            </MudText>

            <MudText Style="align-self:start; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (39 - 27) + 27px); line-height: 115%; color: #FD7D32">
                «STOлица.Лето»
            </MudText>

            <MudText Style="text-align: start; margin-top: 40px; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 16px); line-height: 130%;">
                образовательный и командообразующий выезд для молодежного актива города Москвы, который ежегодно проводится в нестандартных условиях лесной местности.
            </MudText>
        </div>

        <div class="d-flex flex-column flex-grow-1 flex-lg-grow-0" style="margin-left: 2vw; background-color:transparent;">

            <div class="d-flex flex-row align-content-center align-items-center justify-content-center " style="border-radius:30px; padding: 5vmin 6vw; background-color: #FD7D32; margin-bottom:40px">

                <MudImage Src="calendar.svg" Style="margin-right: 2vw; height: 100%" />

                <MudText Style="white-space: nowrap;font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (30 - 20) + 20px); line-height: 120%; color: white">
                    20 июня — 13 августа
                </MudText>

            </div>

            <div class="d-flex flex-row align-content-center align-items-center justify-content-center" style="border-radius:30px; padding: 2vh 6vw; background-color: #ABC704">

                <MudImage Src="geopoint.svg" Style="margin-right: 2vw; height: 70%" />

                <MudText Style="white-space: nowrap; text-align:start; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (30 - 20) + 20px); line-height: 120%; color: white">
                    Тульская область, <br />Ясногорский район, <br />д. Иваньково
                </MudText>

            </div>

        </div>

    </div>

    <MudButton Class="py-5 d-flex align-content-center align-items-center justify-content-center" Style="margin: auto; background-color: #FFDE0D; width: 82vw; border-radius: 40px;">
        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (34 - 16) + 16px); line-height: 115%; text-align: center; letter-spacing: 3px; text-transform: uppercase;">ПОДАТЬ ЗАЯВКУ</MudText>
    </MudButton>

    <div class="d-flex flex-column" style="width:90vw; margin: 25vh auto 0 auto;">
        <div class="d-flex flex-column flex-lg-row" style="margin-bottom: 4vh ">
            <MudText Style="text-align:left; margin-right: 30px; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (60 - 40) + 40px); line-height: 115%; letter-spacing: 3px; text-transform: uppercase;">ЧТО ТЕБЯ</MudText>
            <MudText Style="text-align:left; color: #01B2E0; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (60 - 40) + 40px); line-height: 115%; letter-spacing: 3px; text-transform: uppercase;">ЖДЁТ?</MudText>
        </div>

        <MudGrid>

            <MudItem xs="12" lg="4" Style="background-color: white; border-radius:30px">
                <MudImage Class="mb-5" Src="expectations1.png" Style="width: 100%; margin:auto; border-radius:28px;" />
                <MudText Style="margin:auto;font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (30 - 25) + 25px); line-height: 115%; text-align: center;  color: #701487;">Образовательный <br />блок</MudText>
                <MudText Style="margin:auto;font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (23 - 20) + 20px); line-height: 130%; text-align: center; color: #282828;">со спикерами и экспертами</MudText>
            </MudItem>

            <MudItem xs="12" lg="4" Style="background-color: white; border-radius:30px">
                <MudImage Class="mb-5" Src="expectations2.png" Style="width: 100%; margin:auto; border-radius:28px" />
                <MudText Style="margin:auto;font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (30 - 25) + 25px); line-height: 115%; text-align: center;  color: #01B2E0;">12 треков</MudText>
                <MudText Style="margin:auto;font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (23 - 20) + 20px); line-height: 130%; text-align: center; color: #282828;">по спортивному <br />ориентированию</MudText>
            </MudItem>

            <MudItem xs="12" lg="4" Style="background-color: white; border-radius:30px">
                <MudImage Class="mb-5" Src="expectations3.png" Style="width: 100%; margin:auto; border-radius:28px" />
                <MudText Style="margin:auto;font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (30 - 25) + 25px); line-height: 115%; text-align: center;  color: #701487;">Внеучебные <br />активности</MudText>
            </MudItem>

        </MudGrid>
    </div>

    <div class="d-flex flex-column" style="width:99vw; margin: 20vh auto 0 auto;">
        
        <div class="align-self-start" style=" margin-left: 5vw;margin-bottom: 4vh;">
            <MudText Style="white-space: nowrap; text-align:left; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (60 - 35) + 35px); line-height: 115%; letter-spacing: 3px; text-transform: uppercase; color: #282828;">КАК ЭТО БЫЛО</MudText>
            <MudText Style="white-space: nowrap; text-align:left; margin-left: 7vw; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (60 - 35) + 35px); line-height: 115%;  letter-spacing: 3px; text-transform: uppercase;  color: #ABC704;">В 2022 ГОДУ?</MudText>
        </div>

        <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
            <MudCarousel Class="d-flex align-content-center align-self-center justify-content-center" Style="height: 70vh; width:100%" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
                 
                @foreach (var url in CarouselMobilePhotosPaths)
                {
                    <MudCarouselItem Style="padding-bottom: 4vh;" Class="d-flex align-content-center align-self-center justify-content-center" Transition="Transition.Fade" Color="@Color.Transparent">
                        <MudImage Class="d-flex align-content-center align-self-center justify-content-center" Style=" height:100%" Src="@url" />
                    </MudCarouselItem>
                }

            </MudCarousel>
        </MudHidden>

        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <MudCarousel Class="d-flex align-content-center align-self-center justify-content-center" Style=" height: 55vw; width:85vw" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">

                @foreach (var url in CarouselPhotosPaths)
                {
                    <MudCarouselItem Class="d-flex align-content-center align-self-center justify-content-center" Transition="Transition.Fade" Color="@Color.Transparent">
                        <MudImage Class="d-flex align-content-center align-self-center justify-content-center" Style="width:95%; height:auto" Src="@url" />
                    </MudCarouselItem>
                }

            </MudCarousel>
        </MudHidden>

    </div>

    <div class="d-flex flex-column" style="width:90vw; margin: 25vh auto 45vh auto;">
        <div class="d-flex flex-row" style="margin-bottom: 6vh">
            <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (64 - 45) + 45px); line-height: 115%; letter-spacing: 3px; text-transform: uppercase;  color: #282828;">СМЕНЫ</MudText>
        </div>

        <MudGrid Justify="Justify.SpaceEvenly" Spacing="5" Style="width: 100%;" Class="d-flex align-content-center align-self-center justify-content-center align-items-center">

            @foreach (var sm in SmenaList)
            {
                <MudItem xs="12" lg="4" Class="d-flex align-content-center align-self-center justify-content-center flex-column" Style="margin-bottom: 7vh; text-align: center;">
                    <div style="min-height:91px; padding: 20px 40px; border-radius: 30px 30px 0px 0px; background-color: @sm.color; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (50 - 39) + 39px); line-height: 115%; color: white;">@sm.number смена</div>
                    <div style="min-height:25vh; background-color: white; padding:3vh 1vw">
                        <MudText Style="margin-bottom: 2vh; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (35 - 26) + 26px); line-height: 130%; text-align: center;  color: #282828;">@sm.title</MudText>
                        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 22) + 22px); line-height: 120%; text-align: center; color: #282828;">@sm.description</MudText>
                    </div>
                    <div style="min-height:60px; background-color: @sm.color; text-align:center" class="d-flex justify-content-center flex-row">
                        <MudImage Class="d-flex align-self-center" Src="calendar.svg" Style="margin-right: 20px; height: calc( (100vw - 480px)/(1280 - 480) * (40 - 20) + 20px)" />
                        <MudText Class="d-flex align-items-center" Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (22 - 20) + 20px); color: white;">@sm.dates</MudText>
                    </div>
                    <div style=" border-radius: 0px 0px 30px 30px;background-color: white; height: 107px" />
                    <MudButton Class="align-self-center justify-content-center" Style=@($"margin-top: -65px; text-align: center;height: calc( (100vw - 480px)/(1280 - 480) * (150 - 120) + 120px); width: calc( (100vw - 480px)/(1280 - 480) * (150 - 120) + 120px); border-radius: 50%; background-color: {@sm.color};")>
                        <MudText Style="position:relative; top:34%; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (20 - 16) + 16px); line-height: 115%; text-align: center; letter-spacing: 2px; text-transform: uppercase; color: white;">ПОДАТЬ <br />ЗАЯВКУ</MudText>

                    </MudButton>
                </MudItem>
            }

        </MudGrid>
    </div>

    <div class="d-flex flex-column align-content-center align-items-center justify-content-center" style="background-color: #ABC704; min-height:301px; height: 35vh; width:100%; position:absolute; bottom:0; padding-bottom: 10vh">
        <MudText Style="margin-bottom: 2vh; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (65 - 40) + 40px); line-height: 115%; letter-spacing: 3px; text-transform: uppercase; color: white;">ЕСТЬ ВОПРОСЫ?</MudText>
        <MudButton @onclick="GoToFAQ" Style="background-color: white; padding: 2vh 3vw; border-radius: 2vmax">
            <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 34px; line-height: 115%;  text-align: center; letter-spacing: 3px; text-transform: uppercase;  color: #ABC704;">ПИШИ СЮДА</MudText>
        </MudButton>
    </div>

    <div class=" d-flex flex-row align-content-center align-items-center justify-content-center" style="z-index: 10; position:absolute; bottom:0; min-height:90px; height:10vh; width:100%; background-color: #701487; padding: 2vh 2vw">
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudImage Src="TopMainLogo.svg" Style="min-height:55px;  height:6vh; margin-right: 2vw" />
            <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 500; font-size: 16px; line-height: 115%; color:white;">© 2023, STOлица.Лето️</MudText>
            <MudSpacer />
        </MudHidden>
        <MudLink Href="/" Color="Color.Surface" Style="color: white; font-family: 'Unbounded'; font-style: normal; font-weight: 500; font-size: 16px; line-height: 115%; color: white;">Политика конфиденциальности</MudLink>
    </div>

    

</div>



@code {

    public class Smena
    {
        public int number;
        public string title;
        public string description;
        public string dates;
        public string color;

        public Smena(int _number, string _title, string _description, string _dates, string _colour)
        {
            number = _number;
            title = _title;
            description = _description;
            dates = _dates;
            color = _colour;
        }
    }

    List<Smena> SmenaList = new()
    {
        //new Smena(1, "Лидеры молодежных сообществ", "Поможет найти единомышленников и проявить лидерские качества", "16-19 июня", "#701487"),
        new Smena(1, "Патриотика", "Для тех, кто любит свою Родину", "20-23 июня", "#701487"),
        new Smena(2, "Медиа", "Научит создавать инфоповоды и развиваться в медиа поле", "26-29 июня", "#701487"),
        new Smena(3, "Спорт", "Научит побеждать и развивать свою физическую силу", "1-4 июля", "#701487"),
        new Smena(4, "Легенды Зарницы", "Напомнит об ответственности за себя и своих близких", "6-9 июля", "#FD7D32"),
        new Smena(5, "Студенческое самоуправление", "Поможет создать команду и развить лидерские качества", "11-14 июля", "#FD7D32"),
        new Smena(6, "НКО", "Расскажет о деятельности Некоммерческих организаций", "16-19 июля", "#FD7D32"),
        new Smena(7, "Карьера", "Расскажет о возможностях для молодых соискателей работы", "21-24 июля", "#ABC704"),
        new Smena(8, "Волонтерство", "Расскажет о культуре добровольчества и волонтерстве", "26-29 июля", "#ABC704"),
        new Smena(9, "Служение Отечеству", "Для тех, у кого безопасность на первом месте", "31 июля – 2 августа", "#ABC704"),
        new Smena(10, "Духовность", "Расскажет о религиозной культуре в Москве", "5-8 августа", "#01B2E0"),
        new Smena(11, "Молодые специалисты", "Для молодых управленцев ", "10-13 августа", "#01B2E0"),
        //new Smena(13, "Искусство", "Научит развивать творческий потенциал и мыслить креативно", "15-18 августа", "#FFDE0D"),
    };

    public List<string> CarouselPhotosPaths = new()
    {
        "carousel1.png","carousel2.png","carousel3.png","carousel4.png","carousel5.png",
    };

    public List<string> CarouselMobilePhotosPaths = new()
    {
        "carouselMobile1.png","carouselMobile2.png","carouselMobile3.png","carouselMobile4.png","carouselMobile5.png",
    };

    public string MobileBackgroundUrl = "BackgroundZavitushkiMobileSvg.svg";

    public string DesctopBackgroundUrl = "BackgroundZavitushkiSvg.svg";

    public void GoToFAQ()
    {
        Nigger.NavigateTo("https://t.me/STOlitsa_Leto");
    }
}