@page "/"
@inject NavigationManager Nigger
@inject IQuestionnaireService QService
@inject ISmenaService SmService
@inject IJSRuntime _js
<PageTitle>STOлица.Лето</PageTitle>


<div class="backgroundUrl align-content-center align-items-center justify-content-center text-center">

    <div Class="d-flex mobiletopimage" style="align-items:center; justify-content:center;height:97vh; background-position:center; background-repeat: no-repeat; background-size:cover; background-image: url(TopMainPhoto.png)">

        <MudImage Src="TopMainLogo.svg" Class="d-flex  " Style="align-self:center; align-items:center; justify-content:center; margin-left: auto; margin-right: auto; width: 50vmin;" />

    </div>

    <div style="background-color: #FFDE0D; width: 100%; height:3vh" />

    <Animation AnimationNameSelect="@AnimationName.fade" Delay="600" Duration="10000" Class="mb-md-5 d-flex flex-column flex-lg-row align-self-center align-content-center align-items-center justify-content-center" Style="position:relative; width:98vw; margin-top: 20vh; margin-left: auto; margin-right: auto">

        <div class="gigabebra3 gigabebra d-flex flex-column" style="padding: 4vh 2vw; border-radius:30px; background-color: white; -webkit-box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25); -moz-box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25); box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25);">

            <div class="my-md-2">
                <MudText Style="text-align: left; align-self:start; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (39 - 27) + 27px); line-height: 115%;">
                    Палаточный лагерь
                </MudText>

                <MudText Style="text-align: left; align-self:start; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (39 - 27) + 27px); line-height: 115%; color: #FD7D32">
                    «STOлица.Лето»
                </MudText>

                <MudText Style="text-align: start; margin-top: 2vh; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 16px); line-height: 130%;">
                    познавательный и командообразующий выезд для молодежного актива города Москвы, который ежегодно проводится в нестандартных условиях лесной местности.
                </MudText>
            </div>


        </div>

        <div style="display: block">

            <div class="biba1 gigabebra d-flex flex-row align-content-center align-items-center justify-content-center " style="border-radius:30px; padding: 4vmin 6vw; background-color: white;  -webkit-box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25); -moz-box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25); box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25);">

                <MudImage Src="calendar.png" Style="margin-right: 2vw; height: calc( (100vw - 480px)/(1280 - 480) * (70 - 35) + 35px)" />

                <MudText Style="white-space: nowrap;font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (30 - 19) + 19px); line-height: 120%;">
                    20 июня — 13 августа
                </MudText>

            </div>


            <div style="width: 50vw"></div>


            <div class="biba2 gigabebra d-flex flex-row align-content-center align-items-center justify-content-center" style=" border-radius:30px; padding: 2vh 6vw; background-color: white; -webkit-box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25); -moz-box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25); box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25);">

                <MudImage Src="geopoint.png" Style="margin-right: 2vw; height: calc( (100vw - 480px)/(1280 - 480) * (70 - 35) + 35px)" />

                <MudText Style="white-space: nowrap; text-align:start; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (30 - 19) + 19px); line-height: 120%;">
                    Тульская область, <br />Ясногорский район, <br />д. Иваньково
                </MudText>

            </div>

        </div>

    </Animation>

    <Animation AnimationNameSelect="@AnimationName.fadeUp" Delay="600" Duration="10000">
        <MudButton @onclick="GoToSmenas" Class="raise mt-md-5 py-5 d-flex align-content-center align-items-center justify-content-center" Style="margin: auto; background-color: #FFDE0D; width: 98vw; border-radius: 60px; -webkit-box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25); -moz-box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25); box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25);">
            <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (34 - 22) + 22px); line-height: 115%; text-align: center; letter-spacing: 3px; text-transform: uppercase;">ПОДАТЬ ЗАЯВКУ</MudText>
        </MudButton>
    </Animation>



    <div class="smallscreenmargin d-flex flex-column" style="width:90vw; ">

        <Animation AnimationNameSelect="@AnimationName.fadeDown" Delay="600" Duration="10000">
            <div class="d-flex flex-column flex-lg-row" style="margin-bottom: 4vh ">
                <MudText Style="text-align:left; margin-right: 30px; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (60 - 40) + 40px); line-height: 115%; letter-spacing: 3px; text-transform: uppercase;">ЧТО ТЕБЯ</MudText>
                <MudText Style="text-align:left; color: #01B2E0; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (60 - 40) + 40px); line-height: 115%; letter-spacing: 3px; text-transform: uppercase;">ЖДЁТ?</MudText>
            </div>

            <MudGrid>

                <MudItem xs="12" lg="4" Style="padding:1vmax; margin-bottom: 3vh">

                    <MudPaper Style="height:100%; padding:2vmin; background-color: white; border-radius:30px;-webkit-box-shadow: 0px 0px 11px 3px rgba(34, 60, 80, 0.25); -moz-box-shadow: 0px 0px 11px 3px rgba(34, 60, 80, 0.25); box-shadow: 0px 0px 11px 3px rgba(34, 60, 80, 0.25); ">
                        <MudImage Class="mb-5" Src="expectations1.png" Style="width: 100%; margin:auto; border-radius:28px;" />
                        <MudText Style="margin-bottom: 1vmin;font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (30 - 24) + 24px); line-height: 115%; text-align: center;  color: #701487;">Лекционная<br />программа</MudText>
                        <MudText Class="mb-5 mb-lg-0" Style="margin:auto;font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (23 - 17) + 17px); line-height: 130%; text-align: center; color: #282828;">со спикерами и экспертами</MudText>
                    </MudPaper>

                </MudItem>

                <MudItem xs="12" lg="4" Style="padding:1vmax; margin-bottom: 3vh">
                    <MudPaper Style="height:100%; padding:2vmin; background-color: white; border-radius:30px;-webkit-box-shadow: 0px 0px 11px 3px rgba(34, 60, 80, 0.25); -moz-box-shadow: 0px 0px 11px 3px rgba(34, 60, 80, 0.25); box-shadow: 0px 0px 11px 3px rgba(34, 60, 80, 0.25); ">
                        <MudImage Class="mb-5" Src="expectations2.png" Style="width: 100%; margin:auto; border-radius:28px" />
                        <MudText Style=" margin-bottom: 1vmin;font-family: 'Unbounded' ; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px) /(1280 - 480) * (30 - 24) + 24px); line-height: 115%; text-align: center; color: #01B2E0;">12 треков</MudText>
                        <MudText Class="mb-5 mb-lg-0" Style="margin:auto;font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (23 - 17) + 17px); line-height: 130%; text-align: center; color: #282828;">по спортивному<br />ориентированию</MudText>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" lg="4" Style="padding:1vmax; margin-bottom: 3vh">
                    <MudPaper Style="height:100%; padding:2vmin; background-color: white; border-radius:30px;-webkit-box-shadow: 0px 0px 11px 3px rgba(34, 60, 80, 0.25); -moz-box-shadow: 0px 0px 11px 3px rgba(34, 60, 80, 0.25); box-shadow: 0px 0px 11px 3px rgba(34, 60, 80, 0.25); ">
                        <MudImage Class="mb-5" Src="expectations3.png" Style="width: 100%; margin:auto; border-radius:28px" />
                        <MudText Class="mt-0 mt-lg-5 mb-5 mb-lg-0" Style="font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (30 - 24) + 24px); line-height: 115%; text-align: center;  color: #701487;">Внеучебные<br />активности</MudText>
                    </MudPaper>
                </MudItem>

            </MudGrid>
        </Animation>
    </div>

    <div class="d-flex flex-column" style="width:90vw; margin: 17vh auto 0 auto;">

        <Animation AnimationNameSelect="@AnimationName.fadeLeft" Delay="600" Duration="10000">
            <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                <div class="align-self-start">
                    <MudText Style="text-align:left; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (60 - 40) + 40px); line-height: 115%; letter-spacing: 3px; text-transform: uppercase; color: #282828;">КАК ЭТО<br />БЫЛО В</MudText>
                    <MudText Style="text-align:left; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (60 - 40) + 40px); line-height: 115%;  letter-spacing: 3px; text-transform: uppercase;  color: #ABC704;">2022 ГОДУ?</MudText>
                </div>
            </MudHidden>

            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <div class="align-self-start" style="margin-bottom: -4vh;">
                    <MudText Style="text-align:left; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (60 - 40) + 40px); line-height: 115%; letter-spacing: 3px; text-transform: uppercase; color: #282828;">КАК ЭТО БЫЛО</MudText>
                    <MudText Style="text-align:left; margin-left: 7vw; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (60 - 40) + 40px); line-height: 115%;  letter-spacing: 3px; text-transform: uppercase;  color: #ABC704;">В 2022 ГОДУ?</MudText>
                </div>
            </MudHidden>


            <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                <MudCarousel Class="d-flex align-content-center align-self-center justify-content-center" Style="height: 70vh; width:100%" ShowArrows="false" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">

                    @foreach (var url in CarouselMobilePhotosPaths)
                    {
                        <MudCarouselItem Style="" Class="d-flex align-content-center align-self-center justify-content-center" Transition="Transition.Fade" Color="@Color.Transparent">
                            <MudImage Class="d-flex align-content-center align-self-center justify-content-center" Style=" height:85%" Src="@url" />
                        </MudCarouselItem>
                    }

                </MudCarousel>
            </MudHidden>

            <MudHidden Breakpoint="Breakpoint.Sm" Invert="true">
                <MudCarousel Class="d-flex align-content-center align-self-center justify-content-center" Style="height: 70vh; width:100%" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">

                    @foreach (var url in CarouselMobilePhotosPaths)
                    {
                        <MudCarouselItem Style="padding-bottom: 4vh;" Class="d-flex align-content-center align-self-center justify-content-center" Transition="Transition.Fade" Color="@Color.Transparent">
                            <MudImage Class="d-flex align-content-center align-self-center justify-content-center" Style=" height:100%" Src="@url" />
                        </MudCarouselItem>
                    }

                </MudCarousel>
            </MudHidden>

            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <MudCarousel Class="d-flex align-content-center align-self-center justify-content-center" Style=" height: 55vw; width:100%" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">

                    @foreach (var url in CarouselPhotosPaths)
                    {
                        <MudCarouselItem Class="d-flex align-content-center align-self-center justify-content-center" Transition="Transition.Fade" Color="@Color.Transparent">
                            <MudImage Class="d-flex align-content-center align-self-center justify-content-center" Style="width:95%; height:auto" Src="@url" />
                        </MudCarouselItem>
                    }

                </MudCarousel>
            </MudHidden>
        </Animation>

    </div>

    <div class="smenasmobilemargin d-flex flex-column" style="margin: 15vh auto 45vh auto;">
        <Animation AnimationNameSelect="@AnimationName.fadeRight" Delay="600" Duration="10000">

            <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                <div id="smenas" class="d-flex flex-row" style="margin-left: 2vmax; margin-bottom: 6vh">
                    <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (64 - 45) + 45px); line-height: 115%; letter-spacing: 3px; text-transform: uppercase;  color: #282828;">СМЕНЫ</MudText>
                </div>
            </MudHidden>

            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <div id="smenas" class="d-flex flex-row" style="margin-bottom: 6vh">
                    <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (64 - 45) + 45px); line-height: 115%; letter-spacing: 3px; text-transform: uppercase;  color: #282828;">СМЕНЫ</MudText>
                </div>
            </MudHidden>

            <MudGrid Justify="Justify.SpaceEvenly" Spacing="0" Style="width: 100%;" Class="d-flex align-content-center align-self-center justify-content-center align-items-center">

                @foreach (var sm in LocalSmenas)
                {
                    <MudItem xs="12" md="6" lg="4" xl="4" Style="padding: 2vmax;">
                        <MudPaper Class="d-flex align-content-center align-self-center justify-content-center flex-column" Style="margin-bottom: 7vh; text-align: center; border-radius: 30px; -webkit-box-shadow: 0px 0px 56px 3px rgba(34, 60, 80, 0.14); -moz-box-shadow: 0px 0px 56px 3px rgba(34, 60, 80, 0.14); box-shadow: 0px 0px 56px 3px rgba(34, 60, 80, 0.14);">
                            <div style="min-height:91px; padding: 20px 40px; border-radius: 30px 30px 0px 0px; background-color: @sm.color; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (50 - 33) + 33px); line-height: 115%; color: white;">@sm.number смена</div>
                            <div class="d-flex flex-column justify-content-start" style="min-height:34vh; background-color: white; padding:3vh 1vw">
                                <MudText Style="@($"margin-bottom: 2vh; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (29 - 23) + 23px); line-height: 130%; text-align: center;  color: {sm.color};")">@sm.slogan</MudText>
                                <MudText Style="margin-bottom: 2vh; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (29 - 23) + 23px); line-height: 130%; text-align: center;  color: #282828;">@sm.title</MudText>
                                <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 20) + 20px); line-height: 120%; text-align: center; color: #282828;">@sm.description</MudText>
                            </div>
                            <div style="min-height:60px; background-color: @sm.color; text-align:center" class="d-flex justify-content-center flex-row">
                                <MudImage Class="d-flex align-self-center" Src="calendar.svg" Style="margin-right: 20px; height: calc( (100vw - 480px)/(1280 - 480) * (36 - 32) + 32px)" />
                                <MudText Class="d-flex align-items-center" Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (22 - 17) + 17px); color: white;">@sm.dates</MudText>
                            </div>
                            <div class="d-flex justify-content-center flex-column" style="background-color:white; padding:1vmax; border-radius: 0 0 30px 30px;">
                                @if (sm.isAvailable)
                                {
                                    <MudButton @onclick="() => {BeginQuestionnaire(sm.number);}" Class="align-self-center justify-content-center" Style="margin-top: 1vh; margin-bottom: 2vh; width:100%; background-color: #FFDE0D; border-radius: 30px;-webkit-box-shadow: 0px 0px 18px 3px rgba(34, 60, 80, 0.18); -moz-box-shadow: 0px 0px 18px 3px rgba(34, 60, 80, 0.18); box-shadow: 0px 0px 18px 3px rgba(34, 60, 80, 0.18);">
                                        <MudText Style="margin: 2vmin 0 2vmin 0;font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (22 - 20) + 20px); line-height: 115%; text-align: center; letter-spacing: 3px; text-transform: uppercase; color: #282828;">ПОДАТЬ ЗАЯВКУ</MudText>
                                    </MudButton>
                                }
                                else
                                {
                                    <MudButton @onclick="() => {isAlertOpened = true;}" Class="align-self-center justify-content-center" Style=" opacity:0.5; margin-top: 1vh; margin-bottom: 2vh; width:100%; background-color: #282828; opacity: 0.5; border-radius: 30px;-webkit-box-shadow: 0px 0px 18px 3px rgba(34, 60, 80, 0.18); -moz-box-shadow: 0px 0px 18px 3px rgba(34, 60, 80, 0.18); box-shadow: 0px 0px 18px 3px rgba(34, 60, 80, 0.18);">
                                        <MudText Style="margin: 1vmin 0 1vmin 0;font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (22 - 20) + 20px); line-height: 115%; text-align: center; letter-spacing: 3px; text-transform: uppercase; color: white;">РЕГИСТРАЦИЯ<br />ЗАВЕРШЕНА</MudText>
                                    </MudButton>
                                }
                                <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (17 - 14) + 14px); line-height: 120%; text-align: center; color: #282828; opacity: 0.5;">
                                    Регистрация до @sm.availableTill
                                </MudText>
                            </div>
                        </MudPaper>
                    </MudItem>
                }

            </MudGrid>

        </Animation>
    </div>

    <div class="d-flex flex-column align-content-center align-items-center justify-content-center" style="background-color: #ABC704; min-height:301px; height: 39vh; width:100%; position:absolute; bottom:0; padding-bottom: 10vh">
        <MudText Style="margin-bottom: 2vh; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: calc( (100vw - 480px)/(1280 - 480) * (65 - 40) + 40px); line-height: 115%; letter-spacing: 3px; text-transform: uppercase; color: white;">ЕСТЬ ВОПРОСЫ?</MudText>
        <MudButton Href="https://t.me/STOlitsa_Leto" Target="_blank" Rel="nofollow noopener" Style="background-color: white; padding: 2vmin 3vmax; border-radius: calc( (100vw - 480px)/(1280 - 480) * (60 - 40) + 40px); -webkit-box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25); -moz-box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25); box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25);">
            <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (33 - 30) + 30px); line-height: 115%;  text-align: center; letter-spacing: 3px; text-transform: uppercase;  color: #ABC704;">ПИШИ СЮДА</MudText>
        </MudButton>
    </div>

    <div class=" d-flex flex-row align-content-center align-items-center justify-content-center" style="z-index: 10; position:absolute; bottom:0; min-height:90px; height:10vh; width:100%; background-color: #701487; padding: 2vh 2vw">
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudImage Src="TopMainLogo.svg" Style="min-height:55px;  height:6vh; margin-right: 2vw" />
            <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 500; font-size: 16px; line-height: 115%; color:white;">
                © 2023, STOлица.Лето
            </MudText>
            <MudSpacer />
        </MudHidden>
        <MudLink Target="_blank" Href="https://disk.yandex.ru/i/gn_YjTXOpUOp0A" Color="Color.Surface" Style="color: white; font-family: 'Unbounded'; font-style: normal; font-weight: 500; font-size: 16px; line-height: 115%; color: white;">Политика конфиденциальности</MudLink>
    </div>


    <AnchorNavigation />

    @if (isAlertOpened)
    {
        <MudAlert Style="position: fixed; bottom:0; left:0; right:0" Severity="Severity.Warning" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" CloseIconClicked="(() => {isAlertOpened = false;})">Запись на эту смену уже закрыта!</MudAlert>
    }
</div>



@code {
    List<SmenaDTO> LocalSmenas = new();

    public bool isAlertOpened = false;

    protected override async Task OnInitializedAsync()
    {
        LocalSmenas = await SmService.GetSmenas();
    }

    public async void UpdateLocalSmenas()
    {
        LocalSmenas = await SmService.GetSmenas();
    }

    public List<string> CarouselPhotosPaths = new()
    {
        "carousel1.png","carousel2.png","carousel3.png","carousel4.png","carousel5.png",
    };

    public List<string> CarouselMobilePhotosPaths = new()
    {
        "carouselMobile1.png","carouselMobile2.png","carouselMobile3.png","carouselMobile4.png","carouselMobile5.png",
    };

    public void BeginQuestionnaire(int smemaNumber)
    {
        QService.SetSmena(smemaNumber);
        Nigger.NavigateTo("/questionnaire_part_1");
    }

    public void GoToSmenas()
    {
        Nigger.NavigateTo("#smenas");
    }
}