@page "/"

<PageTitle>STOлица.Лето</PageTitle>


<div class="align-content-center align-items-center justify-content-center text-center" style="position: absolute; height:830vh ; width: 100%; background-position: center; background-repeat: no-repeat; background-size:cover; background-image: url(BackgroundZavitushki.svg)">

    <div style=" height:97vh; background-position: center; background-repeat: no-repeat; background-size: cover; background-image: url(TopMainPhoto.png)">

        <MudImage Src="TopMainLogo.svg" Class="d-flex flex-grow-1" Style="min-width: 30vmax; height:auto; position:relative; top: 30%; left:33%" />

    </div>

    <div style="background-color: #FFDE0D; width: 100%; height:3vh" />

    <div class="d-flex flex-row" style="width:80vw; margin: 20vh auto 2vh auto;">

        <div class="d-flex flex-column" style=" padding: 20px 40px; border-radius:30px; background-color: white; width:39vw">
            
            <MudText Style="text-align: left; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 44px; line-height: 115%;">
                Палаточный лагерь
            </MudText>

            <MudText Style="text-align: left;font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 44px; line-height: 115%; color: #FD7D32">
                «STOлица.Лето»
            </MudText>

            <MudText Style="text-align: left;margin-top: 40px; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 25px; line-height: 130%;">
                образовательный и командообразующий выезд для молодежного актива города Москвы, который ежегодно проводится в нестандартных условиях лесной местности.
            </MudText>
        </div>

        <div class="d-flex flex-column" style="margin-left: 2vw; background-color:transparent; width:39vw">
            
            <div class="d-flex flex-row align-content-center align-items-center justify-content-center" style="border-radius:30px; padding: 20px 40px; background-color: #FD7D32; margin-bottom:40px">

                <MudImage Src="calendar.svg" Style="margin-right: 30px"/>

                <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 30px; line-height: 120%; color: white">
                    20 июня — 13 августа
                </MudText>

            </div>

            <div class="d-flex flex-row align-content-center align-items-center justify-content-center" style="border-radius:30px; padding: 20px 40px; background-color: #ABC704">

                <MudImage Src="geopoint.svg" Style="margin-right: 40px" />

                <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 30px; line-height: 120%; color: white">
                    Тульская область, <br />Ясногорский район, <br />д. Иваньково
                </MudText>

            </div>

        </div>

    </div>

    <MudButton Class="py-5 d-flex align-content-center align-items-center justify-content-center" Style="margin: auto; background-color: #FFDE0D; width: 82vw; border-radius: 40px;">
        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 34px; line-height: 115%; text-align: center; letter-spacing: 3px; text-transform: uppercase;">ПОДАТЬ ЗАЯВКУ</MudText>
    </MudButton>

    <div class="d-flex flex-column" style="width:90vw; margin: 20vh auto 0 auto;">
        <div class="d-flex flex-row" style="margin-bottom: 4vh; margin-left: -30px">
            <MudText Style="margin-right: 30px; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: 78px; line-height: 115%; letter-spacing: 3px; text-transform: uppercase;">ЧТО ТЕБЯ</MudText>
            <MudText Style="color: #01B2E0; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: 78px; line-height: 115%; letter-spacing: 3px; text-transform: uppercase;">ЖДЁТ?</MudText>
        </div>

        <MudGrid >

            <MudItem xs="4">
                <MudImage Src="expectations1.png" Style="width: 100%; border-radius:28px; margin:auto;" />
                <MudText Style="margin:auto;font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 32px; line-height: 115%; text-align: center;  color: #701487;">Образовательный <br />блок</MudText>
                <MudText Style="margin:auto;font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 22px; line-height: 130%; text-align: center; color: #282828;">со спикерами и экспертами</MudText>
            </MudItem>

            <MudItem xs="4">
                <MudImage Src="expectations2.png" Style="width: 100%; margin:auto;border-radius:28px" />
                <MudText Style="margin:auto;font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 32px; line-height: 115%; text-align: center;  color: #01B2E0;">12 треков</MudText>
                <MudText Style="margin:auto;font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 22px; line-height: 130%; text-align: center; color: #282828;">по спортивному <br />ориентированию</MudText>
            </MudItem>

            <MudItem xs="4">
                <MudImage Src="expectations3.png" Style="width: 100%; margin:auto;border-radius:28px" />
                <MudText Style="margin:auto;font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 32px; line-height: 115%; text-align: center;  color: #701487;">Внеучебные <br />активности</MudText>
            </MudItem>
            
        </MudGrid>
    </div>

    <div class="d-flex flex-column" style="width:82vw; margin: 20vh auto 0 auto;">
        <div style="margin-bottom: 4vh">
            <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: 78px; line-height: 115%; letter-spacing: 3px; text-transform: uppercase; color: #282828;">КАК ЭТО БЫЛО</MudText>
            <MudText Style="margin-left: 4vw; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: 78px; line-height: 115%;  letter-spacing: 3px; text-transform: uppercase;  color: #ABC704;">В 2022 ГОДУ?</MudText>
        </div>

        <MudCarousel Class="d-flex align-content-center align-self-center justify-content-center" Style=" height: 830px; width:1371px" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
            
            <MudCarouselItem Class="d-flex align-content-center align-self-center justify-content-center" Transition="Transition.Fade" Color="@Color.Transparent">
                <MudImage Class="d-flex align-content-center align-self-center justify-content-center" Style="width:95%; height:auto" Src="carousel1.png" />
            </MudCarouselItem>
            
            <MudCarouselItem Class="d-flex align-content-center align-self-center justify-content-center" Transition="Transition.Fade" Color="@Color.Transparent">
                <MudImage Class="d-flex align-content-center align-self-center justify-content-center" Style="width:95%; height:auto" Src="carousel2.png" />
            </MudCarouselItem>
            
            <MudCarouselItem Class="d-flex align-content-center align-self-center justify-content-center" Transition="Transition.Fade" Color="@Color.Transparent">
                <MudImage Class="d-flex align-content-center align-self-center justify-content-center" Style="width:95%; height:auto" Src="carousel3.png" />
            </MudCarouselItem>

            <MudCarouselItem Class="d-flex align-content-center align-self-center justify-content-center" Transition="Transition.Fade" Color="@Color.Transparent">
                <MudImage Class="d-flex align-content-center align-self-center justify-content-center" Style="width:95%; height:auto" Src="carousel4.png" />
            </MudCarouselItem>

            <MudCarouselItem Class="d-flex align-content-center align-self-center justify-content-center" Transition="Transition.Fade" Color="@Color.Transparent">
                <MudImage Class="d-flex align-content-center align-self-center justify-content-center"Style="width:95%; height:auto" Src="carousel5.png" />
            </MudCarouselItem>

        </MudCarousel>
        
    </div>

    <div class="d-flex flex-column" style="width:82vw; margin: 20vh auto 0 auto;">
        <div class="d-flex flex-row" style="margin-bottom: 4vh">
            <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: 78px; line-height: 115%; letter-spacing: 3px; text-transform: uppercase;  color: #282828;">СМЕНЫ</MudText>
        </div>

        <MudGrid Justify="Justify.SpaceEvenly" Style="width: 100%;" Class="d-flex align-content-center align-self-center justify-content-center align-items-center">

            @foreach(var sm in SmenaList)
            {
                <MudItem xs="4" Class="d-flex align-content-center align-self-center justify-content-center flex-column" Style="margin-bottom: 7vh; text-align: center;">
                    <div style="min-height:91px; padding: 20px 40px; border-radius: 30px 30px 0px 0px; background-color: @sm.color; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 44px; line-height: 115%; color: white;">@sm.number смена</div>
                    <div style="min-height:249px; background-color: white; padding:30px 20px">
                        <MudText Style="margin-bottom: 10px; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 26px; line-height: 130%; text-align: center;  color: #282828;">@sm.title</MudText>
                        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 120%; text-align: center; color: #282828;">@sm.description</MudText>
                    </div>
                    <div style="min-height:60px; background-color: @sm.color; text-align:center" class="d-flex justify-content-center flex-row">
                        <MudImage Class="d-flex align-self-center" Src="calendar.svg" Style="margin-right: 20px; height: 40px" />
                        <MudText Class="d-flex align-items-center" Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; color: white;">@sm.dates</MudText>
                    </div>
                    <div style="background-color: white; height: 107px" />
                    <MudButton Class="align-self-center justify-content-center" Style=@($"margin-top: -65px; text-align: center;height: 160px; width: 160px; border-radius: 50%; background-color: {@sm.color};")>
                        <MudText Style="position:relative; top:34%; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 115%; text-align: center; letter-spacing: 2px; text-transform: uppercase; color: white;">ПОДАТЬ <br />ЗАЯВКУ</MudText>

                    </MudButton>
                </MudItem>
            }

        </MudGrid>
    </div>

    <div class="d-flex flex-column align-content-center align-items-center justify-content-center" style="background-color: #ABC704; min-height:301px; height: 35vh; width:100%; position:absolute; bottom:0; padding-bottom: 10vh">
        <MudText Style="margin-bottom: 2vh; font-family: 'Unbounded'; font-style: normal; font-weight: 800; font-size: 64px; line-height: 115%; letter-spacing: 3px; text-transform: uppercase; color: white;">ЕСТЬ ВОПРОСЫ?</MudText>
        <MudButton Style="background-color: white; padding: 2vh 3vw; border-radius: 2vmax">
            <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 34px; line-height: 115%;  text-align: center; letter-spacing: 3px; text-transform: uppercase;  color: #ABC704;">ПИШИ СЮДА</MudText>
        </MudButton>
    </div>

    <div class=" d-flex flex-row align-content-center align-items-center justify-content-center" style="z-index: 10; position:absolute; bottom:0; min-height:90px; height:10vh; width:100%; background-color: #701487; padding: 2vh 2vw">
        <MudImage Src="TopMainLogo.svg" Style="min-height:55px;  height:6vh; margin-right: 2vw" />
        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 500; font-size: 16px; line-height: 115%; color:white;">© 2023, STOлица.Лето️</MudText>
        <MudSpacer />
        <MudLink Href="/" Style=" font-family: 'Unbounded'; font-style: normal; font-weight: 500; font-size: 16px; line-height: 115%; color: white;">Политика конфиденциальности</MudLink>
    </div>
    

</div>



@code{
    public class Smena
    {
        public int number;
        public string title;
        public string description;
        public string dates;
        public string color;

        public Smena(int _number, string _title, string _description, string _dates, string _colour)
        {
            number = _number;
            title = _title;
            description = _description;
            dates = _dates;
            color = _colour;
        }
    }

    List<Smena> SmenaList = new()
    {
        new Smena(1, "Лидеры молодежных сообществ", "Поможет найти единомышленников и проявить лидерские качества", "16-19 июня", "#701487"),
        new Smena(2, "Патриотика", "Для тех, кто любит свою Родину", "20-23 июня", "#701487"),
        new Smena(3, "Медиа", "Научит создавать инфоповоды и развиваться в медиа поле", "26-29 июня", "#701487"),
        new Smena(4, "Спорт", "Научит побеждать и развивать свою физическую силу", "1-4 июля", "#FD7D32"),
        new Smena(5, "Легенды Зарницы", "Напомнит об ответственности за себя и своих близких", "6-9 июля", "#FD7D32"),
        new Smena(6, "Студенческое самоуправление", "Поможет создать команду и развить лидерские качества", "11-14 июля", "#FD7D32"),
        new Smena(7, "НКО", "Расскажет о деятельности Некоммерческих организаций", "16-19 июля", "#ABC704"),
        new Smena(8, "Карьера", "Расскажет о возможностях для молодых соискателей работы", "21-24 июля", "#ABC704"),
        new Smena(9, "Волонтерство", "Расскажет о культуре добровольчества и волонтерстве", "26-29 июля", "#ABC704"),
        new Smena(10, "Служение Отечеству", "Для тех, у кого безопасность на первом месте", "31 июля – 2 августа", "#01B2E0"),
        new Smena(11, "Духовность", "Расскажет о религиозной культуре в Москве", "5-8 августа", "#01B2E0"),
        new Smena(12, "Молодые специалисты", "Для молодых управленцев ", "10-13 августа", "#01B2E0"),
        new Smena(13, "Искусство", "Научит развивать творческий потенциал и мыслить креативно", "15-18 августа", "#FFDE0D"),
    };
}