@page "/questionnaire_part_1"
@inject NavigationManager Nigger
@inject IDialogService Dis
@inject IQuestionnaireService QService
@*@using MudBlazor.Services*@
@using System.Text;
@*@implements IAsyncDisposable*@
<PageTitle>STOлица.Лето</PageTitle>

<EditForm OnSubmit="Submit" Model="@LQDTO" class="justify-content-center align-content-center align-items-center text-center" style="background-image: url(TopMainPhoto.png); position: absolute; width: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
    
    <div class="d-flex flex-row justify-content-center align-content-center align-items-center text-center" style="position:relative; top: 0; width:100%; padding: 2vh 2vw">
        <MudImage Src="TopMainLogo.svg" Style="min-height:35px;  height:6vh;"/>
        <MudSpacer/>
        <MudButton OnClick="GoToHomepage">
            <MudImage Src="ArrowLeft.svg" Style="min-height:25px; height:3vh;"/>
            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <MudText Style="margin-left: 1vw; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; text-align: center; color: white;">Назад</MudText>
            </MudHidden>
        </MudButton>
    </div>

    <div class="BodyDiv d-flex flex-row justify-content-center align-content-center align-items-center text-center">
        
        <div class="align-self-start defaultHidden inputform" style="background-color: #701487; border-radius: 30px 30px 0 0">
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <MudText Style="margin: 2vmax 2vmax; text-align:start; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (27 - 25) + 25px); line-height: 130%; color: white;">
                    Заявка на участие в<br />молодежном слете<br />«STOлица.Лето»
                </MudText>
            </MudHidden>
            
            <div class="cornersForResize" style="position:relative; visibility:visible; padding: 1.5vw; background-color: #FCF0FF">
                

                <MudPaper Style="border-radius: 30px; overflow:hidden; background-color: white;">
                    <DataAnnotationsValidator />

                    <MudPaper Class="d-flex flex-row align-items-center " Style="border-radius: 30px; padding: 2vmax; background-color: #701487; position:relative; top: 0; width:100%;">
                        
                        <MudImage Src="CheckedCircle.svg" Style="min-height:35px; height:3vmax; margin-right: 2vmax"/>
                        
                        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (30 - 20) + 20px); line-height: 115%; text-align: center; color: #FFFFFF;">
                            
                            Личные данные
                            
                        </MudText>
                        
                    </MudPaper>
                    
                    <MudGrid Style="padding: 2vmax">
                        
                        <MudItem Class="d-flex flex-column" xs="12">
                            
                            <MudText Class="align-self-start" Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; text-align: center; color: #282828;">
                                Твоя фотография*
                            </MudText>
                            
                            <div class="d-flex flex-row" style="padding: 1vmax;">
                                
                                <InputFile style="position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0;" id="input" OnChange="@UploadImageHandle" accept=".png,.jpg,.jpeg" />
                                <label for="input" style="height: calc( (100vw - 480px)/(1280 - 480) * (80 - 16) + 16px); width: calc( (100vw - 480px)/(1280 - 480) * (80 - 16) + 16px); min-width: 87px; min-height: 80px; background-image: url(@((QService.isPhotoUploaded() || BrowserImage is not null) ? "PurpleCheck.svg" : "YourPhoto.svg")); background-position: center; background-repeat: no-repeat; background-size: contain;" />
                                
                                <MudText Style="margin-left: 3vw; text-align:left; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (18 - 13) + 13px); line-height: 115%; color: #282828; opacity: 0.5;">
                                    
                                    Загрузи фото:<br />— размером не более 25Мб;<br />— белый или однотонный фон;<br />— разрешение фотографии не более 300*400 пикселей;<br />— формат jpg или png.
                                        
                                </MudText>
                            </div>
                            
                            @if (!String.IsNullOrEmpty(imagealert))
                            {
                                <MudText Style="text-align:left" Color="@Color.Error">
                                    @imagealert
                                </MudText>
                            }
                        </MudItem>
                        
                        <MudItem xs="12" lg="6">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Фамилия*
                            </MudText>

                            <MudTextField @bind-Value="LQDTO.LastName" For="@(() => LQDTO.LastName)" T="string" Placeholder="Иванов"></MudTextField>
                        </MudItem>
                        
                        <MudItem xs="12" lg="6" >
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Имя*
                            </MudText>
                            
                            <MudTextField @bind-Value="LQDTO.FirstName" For="@(() => LQDTO.FirstName)" T="string" Placeholder="Иван" />
                        </MudItem>

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Отчество*
                            </MudText>

                            <MudTextField @bind-Value="LQDTO.FatherName" For="@(() => LQDTO.FatherName)" T="string" Placeholder="Иванович" />
                        </MudItem>

                        <MudItem xs="12" lg="6">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Дата рождения*
                            </MudText>

                            <MudDatePicker PickerClosed="DateChangeHandler"  Color="Color.Primary" @bind-Date="LQDTO.BirthDate" For="@(() => LQDTO.BirthDate)"  />
                        </MudItem>

                        <MudItem xs="12" lg="6">

                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Пол*
                            </MudText>

                            <MudSelect SelectedValuesChanged="SexValueChanged" @bind-Value="LQDTO.Sex" T="string" Placeholder="Выбери из списка" AnchorOrigin="Origin.BottomCenter">
                                <MudSelectItem Value="@("Мужской")" />
                                <MudSelectItem Value="@("Женский")" />
                            </MudSelect>

                            @*<MudChipSet SelectedValuesChanged="SexChipClickHandler" Filter="true" @bind-SelectedChip="selectedSexChip" Mandatory="true">
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="true">Мужской</MudChip>
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="false">Женский</MudChip>
                            </MudChipSet>*@

                            @if (SexAlert)
                            {
                                <MudText Color="@Color.Error">
                                    Необходимо выбрать пол!
                                </MudText>
                            }
                        </MudItem>

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Место работы/учебы*
                            </MudText>

                            <MudTextField @bind-Value="LQDTO.WorkingPlace" For="@(() => LQDTO.WorkingPlace)" T="string" Placeholder="Укажите место работы/учёбы" />
                        </MudItem>

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Занимаемая должность*
                            </MudText>

                            <MudTextField @bind-Value="LQDTO.Post" For="@(() => LQDTO.Post)" T="string" Placeholder="Укажите должность" />
                        </MudItem>

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Номер телефона*
                            </MudText>

                            <MudTextField @bind-Value="LQDTO.PhoneNumber" For="@(() => LQDTO.PhoneNumber)" T="string" Placeholder="+7 (000) 000-00-00" />
                        </MudItem>

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Ссылка на ВКонтакте*
                            </MudText>

                            <MudTextField @bind-Value="LQDTO.VkLink" For="@(() => LQDTO.VkLink)" T="string" Placeholder="https://vk.com/user" HelperText="Укажи полную ссылку на аккаунт, начиная с символов https://vk.com/" />
                        </MudItem>

                        <MudItem xs="12" lg="6">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Никнейм в Telegram*
                            </MudText>

                            <MudTextField @bind-Value="LQDTO.TelegramUsername" For="@(() => LQDTO.TelegramUsername)" T="string" Placeholder="@("@username")" HelperText=@("Укажи никнейм, начиная с символа @") />
                        </MudItem>

                        <MudItem xs="12" lg="6">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Размер одежды
                            </MudText>

                            <MudSelect @bind-Value="LQDTO.ClothesSize" T="string" Placeholder="Выбери из списка" AnchorOrigin="Origin.BottomCenter">
                                <MudSelectItem Value="@("XS")" />
                                <MudSelectItem Value="@("S")" />
                                <MudSelectItem Value="@("M")" />
                                <MudSelectItem Value="@("L")" />
                                <MudSelectItem Value="@("XL")" />
                                <MudSelectItem Value="@("2XL")" />
                            </MudSelect>

                            @*<MudChipSet SelectedValuesChanged="SizeChipClickHandler" @bind-SelectedChip="selectedSizeChip" Mandatory="true" Filter="true">
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="XS">XS</MudChip>
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="S">S</MudChip>
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="M">M</MudChip>
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="L">L</MudChip>
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="XL">XL</MudChip>
                                <MudChip Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828; opacity: 0.5;" Text="2XL">2XL</MudChip>
                            </MudChipSet>*@
                        </MudItem>

                        <MudItem xs="12" lg="6">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Серия и номер российского паспорта*
                            </MudText>

                            <MudTextField @bind-Value="LQDTO.Passport" For="@(() => LQDTO.Passport)" T="string" Placeholder="0000 000000" HelperText="Укажи серию и номер паспорта через пробел (участие могут принять только граждане Российской Федерации)" />
                        </MudItem>
                    </MudGrid>
                    

                </MudPaper>
                
                <MudHidden Breakpoint="Breakpoint.MdAndUp">
                    <MudButton ButtonType="ButtonType.Submit" Style="padding:2vmax; width:100%; margin-top: 4vh; margin-bottom: 4vh; background-color: #701487; border-radius: 30px;   -webkit-box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25); -moz-box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25); box-shadow: 0px 0px 28px 3px rgba(34, 60, 80, 0.25);">
                        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; text-align: center; color: #FFFFFF;">
                            Далее
                        </MudText>
                    </MudButton>
                </MudHidden>

            </div>
            
        </div>

        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <MudPaper Class="align-self-start" Style="margin-left: 1vw; background-color: #701487; border-radius: 30px">
                <MudText Style="white-space:nowrap; margin: 2.5vh 1vw; text-align:start; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 30px; line-height: 130%; color: white;">
                    Заявка на участие в<br />молодежном слете<br />«STOлица.Лето»
                </MudText>
                <MudPaper Style="background-color: white; border-radius: 30px; padding: 1vw">
                    <MudText Style="text-align:start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; color: #282828;">
                        После заполнения полей<br />переходи к следующему этапу!
                    </MudText>
                    <MudButton ButtonType="ButtonType.Submit" Style="padding:1vh; width:100%; margin-top: 2vh; background-color: #701487; border-radius: 30px">
                        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; text-align: center; color: #FFFFFF;">
                            Далее
                        </MudText>
                    </MudButton>
                </MudPaper>
            </MudPaper>
        </MudHidden>
    </div>
    
</EditForm>



@code {
    //[Inject] IResizeService ResizeService { get; set; }


    //int width = 0;
    //int height = 0;

    //private Guid _subscriptionId;

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        _subscriptionId = await ResizeService.SubscribeAsync((size) =>
    //        {
    //            width = size.Width;
    //            height = size.Height;
    //            InvokeAsync(StateHasChanged);
    //        }, new ResizeOptions
    //            {
    //                ReportRate = 50,
    //                NotifyOnBreakpointOnly = false,
    //            });

    //        var size = await ResizeService.GetBrowserWindowSize();
    //        height = size.Height;
    //        width = size.Width;
    //        StateHasChanged();
    //    }

    //    await base.OnAfterRenderAsync(firstRender);
    //}

    //public async ValueTask DisposeAsync() => await ResizeService.UnsubscribeAsync(_subscriptionId);

    protected override void OnParametersSet()
    {
        LQDTO = QService.Get();
        StateHasChanged();

        switch (QService.GetStep())
        {
            case 1:
                break;
            case 2:
                break;
            case 3:
                break;
            default:
                Nigger.NavigateTo("/");
                break;
        }
    }

    bool SexAlert = false;

    public IBrowserFile BrowserImage;

    public async Task UploadImageHandle(InputFileChangeEventArgs e)
    {
        BrowserImage = e.File;
        if (BrowserImage.ContentType == "image/png" || BrowserImage.ContentType == "image/jpeg")
        {
            imagealert = "";
            if (BrowserImage.Size <= 25000000)
            {
                var tempUploadmem = new byte[BrowserImage.Size];
                imagealert = "";
                await BrowserImage.OpenReadStream(maxAllowedSize: 25000000).ReadAsync(tempUploadmem, 0, (int)BrowserImage.Size);
                LQDTO.QImage = tempUploadmem.ToList();
            }
            else imagealert = "Изображение должно быть не больше 25 Мегабит";
        }
        else imagealert = "Формат изображения должен быть исключительно .png или .jpg(jpeg)";
    }

    public string imagealert = "";

    public bool agealert = false;

    public QuestionnairePart1 LQDTO;


    private void OpenErrorDialog(bool ismobile)
    {
        var parameters = new DialogParameters();
        parameters.Add("DialogColor", "#701487");
        parameters.Add("ErrorSize", "25");
        parameters.Add("isSuccess", false);
        parameters.Add("isMobile", ismobile);
        Dis.Show<Dialog>("", parameters);
    }



    private void Submit(EditContext context)
    {

        var result = context.Validate();

        if (string.IsNullOrEmpty(LQDTO.Sex))
        {
            SexAlert = true;
        }
        else
        {
            SexAlert = false;
        }

        if (BrowserImage is null && LQDTO.QImage.Count == 0)
        {
            imagealert = "Необходимо прикрепить фотографию";
        }

        if (result && !SexAlert && !agealert && string.IsNullOrEmpty(imagealert))
        {
            QService.SetPart1(LQDTO, true);
            Nigger.NavigateTo("/questionnaire_part_2");
        }
    }

    public void SexValueChanged()
    {
        SexAlert = false;
    }

    MudChip selectedSizeChip;

    public void SizeChipClickHandler()
    {
        LQDTO.ClothesSize = selectedSizeChip.Text;
    }

    public void DateChangeHandler()
    {
        agealert = false;
    }

    public void GoToHomepage()
    {
        QService.SetPart1(LQDTO, false);
        Nigger.NavigateTo("/");
    }

    
}