@page "/questionnaire_part_2"
@inject NavigationManager Nigger
@inject IDialogService Dis
@inject IQuestionnaireService QService
<PageTitle>STOлица.Лето</PageTitle>


<EditForm OnSubmit="Submit" Model="@LQDTO" class="justify-content-center align-content-center align-items-center text-center" style="background-image: url(TopMainPhoto.png); position: absolute; width: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
    <DataAnnotationsValidator />
    <div class="d-flex flex-row justify-content-center align-content-center align-items-center text-center" style="position:relative; top: 0; width:100%; padding: 2vh 2vw">
        <MudImage Src="TopMainLogo.svg" Style="min-height:35px;  height:6vh;" />
        <MudSpacer />
        <MudButton OnClick="GoBack">
            <MudImage Src="ArrowLeft.svg" Style="min-height:25px; height:3vh;" />
            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <MudText Style="margin-left: 1vw; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; text-align: center; color: white;">Назад</MudText>
            </MudHidden>
        </MudButton>
    </div>

    <div class="BodyDiv d-flex flex-row justify-content-center align-content-center align-items-center text-center">

        <div class="align-self-start defaultHidden inputform" style="background-color: #FD7D32; border-radius: 30px 30px 0 0">
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <MudText Style="margin: 2vmax 2vmax; text-align:start; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (27 - 25) + 25px); line-height: 130%; color: white;">
                    Заявка на участие в<br />палаточном лагере<br />«STOлица.Лето»
                </MudText>
            </MudHidden>

            <div class="cornersForResize" style="visibility:visible; padding: 1.5vw; background-color: #FFF4EE">

                <MudForm Style="border-radius: 30px; overflow:hidden; background-color: white;">

                    <MudPaper Class="d-flex flex-row align-items-center " Style="border-radius: 30px; padding: 2vmax; background-color: #FD7D32; position:relative; top: 0; width:100%;">

                        <MudImage Src="Smile.svg" Style="min-height:35px; height:3vmax; margin-right: 2vmax" />

                        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (30 - 20) + 20px); line-height: 115%; text-align: center; color: #FFFFFF;">

                            О себе

                        </MudText>

                    </MudPaper>

                    <MudGrid Style="padding: 2vmax">

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (19 - 17) + 17px); line-height: 130%; color: #282828;">
                                Имеется ли у тебя аллергия?
                            </MudText>

                            <MudTextField @bind-Value="LQDTO.Allergies" For="@(() => LQDTO.Allergies)" Lines="6" T="string" Placeholder="Если да, то укажи, на что именно у тебя аллергия"></MudTextField>
                        </MudItem>

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (19 - 17) + 17px); line-height: 130%; color: #282828;">
                                Имеются ли у тебя хронические заболевания или иные медицинские противопоказания?
                            </MudText>

                            <MudTextField @bind-Value="LQDTO.Illneses" For="@(() => LQDTO.Illneses)" Lines="6" T="string" Placeholder="Если да, то перечисли"></MudTextField>
                        </MudItem>

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (19 - 17) + 17px); line-height: 130%; color: #282828;">
                                Как ты узнал о молодежном слете?
                            </MudText>

                            <MudSelect SelectedValuesChanged="OnValueChange" @bind-Value="LQDTO.KnowledgeSource" T="string" Placeholder="Выбери из списка" AnchorOrigin="Origin.BottomCenter">
                                <MudSelectItem Value="@("Рассказали друзья")" />
                                <MudSelectItem Value="@("Пригласили в университете")" />
                                <MudSelectItem Value="@("Рассказали участники спортивной игры «Зарницы»")" />
                                <MudSelectItem Value="@("Узнал в интернете")" />
                            </MudSelect>

                            @if (KnowledgeSourceAlert)
                            {
                                <MudText Style="text-align:left" Color="@Color.Error">
                                    Необходимо выбрать из списка
                                </MudText>
                            }
                        </MudItem>

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (19 - 17) + 17px); line-height: 130%; color: #282828;">
                                Какие навыки и знания ты бы хотел получить, посетив молодежный слет?*
                            </MudText>

                            <MudTextField @bind-Value="LQDTO.DesiredSkills" For="@(() => LQDTO.DesiredSkills)" Lines="6" T="string" Placeholder="Добавь текст"></MudTextField>
                        </MudItem>

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (19 - 17) + 17px); line-height: 130%; color: #282828;">
                                Как ты собираешься применять полученный опыт?*
                            </MudText>

                            <MudTextField @bind-Value="LQDTO.ExpirienceIntentions" For="@(() => LQDTO.ExpirienceIntentions)" Lines="6" T="string" Placeholder="Добавь текст"></MudTextField>
                        </MudItem>

                    </MudGrid>

                </MudForm>

                <MudHidden Breakpoint="Breakpoint.MdAndUp">
                    <MudButton ButtonType="ButtonType.Submit" Style="padding:2vmax; width:100%; margin-top: 2vh; background-color: #FD7D32; border-radius: 30px">
                        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (19 - 17) + 17px); line-height: 115%; text-align: center; color: #FFFFFF;">
                            Далее
                        </MudText>
                    </MudButton>
                </MudHidden>

            </div>

        </div>

        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <MudPaper Class="align-self-start" Style="margin-left: 1vw; background-color: #FD7D32; border-radius: 30px">
                <MudText Style="white-space:nowrap; margin: 2.5vh 1vw; text-align:start; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 30px; line-height: 130%; color: white;">
                    Заявка на участие в<br />молодежном слете<br />«STOлица.Лето»
                </MudText>
                <MudPaper Style="background-color: white; border-radius: 30px; padding: 1vw">
                    <MudText Style="text-align:start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (19 - 17) + 17px); line-height: 115%; color: #282828;">
                        После заполнения полей<br />переходи к следующему этапу!
                    </MudText>
                    <MudButton ButtonType="ButtonType.Submit" Style="padding:1vh; width:100%; margin-top: 2vh; background-color: #FD7D32; border-radius: 30px">
                        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; text-align: center; color: #FFFFFF;">
                            Далее
                        </MudText>
                    </MudButton>
                </MudPaper>
            </MudPaper>
        </MudHidden>
    </div>

</EditForm>



@code {
    public QuestionnairePart2 LQDTO;

    bool KnowledgeSourceAlert = false;

    protected override void OnParametersSet()
    {
        LQDTO = QService.Get();
        StateHasChanged();
    }

    public void OnValueChange()
    {
        KnowledgeSourceAlert = false;
    }

    public void Submit(EditContext context)
    {
        Console.WriteLine(LQDTO.KnowledgeSource);
        var result = context.Validate();
        if (string.IsNullOrEmpty(LQDTO.KnowledgeSource))
        {
            KnowledgeSourceAlert = true;
        }

        if (result && !KnowledgeSourceAlert)
        {
            QService.SetPart2(LQDTO);
            Nigger.NavigateTo("/questionnaire_part_3");
        }
    }

    public void GoBack()
    {
        QService.SetPart2(LQDTO);
        Nigger.NavigateTo("/questionnaire_part_1");
    }
}