@page "/questionnaire_part_3"
@inject NavigationManager Nigger
@inject IDialogService Dis
@inject IQuestionnaireService QService
@using System.Text.RegularExpressions
<PageTitle>STOлица.Лето</PageTitle>


<div class="backgroundPhoto justify-content-center align-content-center align-items-center text-center">

    <div class="d-flex flex-row justify-content-center align-content-center align-items-center text-center" style="position:relative; top: 0; width:100%; padding: 2vh 2vw">
        <MudImage Src="TopMainLogo.svg" Style="min-height:35px;  height:6vh;" />
        <MudSpacer />
        <MudButton OnClick="GoBack">
            <MudImage Src="ArrowLeft.svg" Style="min-height:25px; height:3vh;" />
            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <MudText Style="margin-left: 1vw; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; text-align: center; color: white;">Назад</MudText>
            </MudHidden>
        </MudButton>
    </div>

    <div class="BodyDiv d-flex flex-row justify-content-center align-content-center align-items-center text-center">

        <div class="align-self-start defaultHidden inputform" style="background-color: #01B2E0; border-radius: 30px 30px 0 0">
            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <MudText Style="margin: 2vmax 2vmax; text-align:start; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: calc( (100vw - 480px)/(1280 - 480) * (27 - 25) + 25px); line-height: 130%; color: white;">
                    Заявка на участие в<br />молодежном слете<br />«STOлица.Лето»
                </MudText>
            </MudHidden>

            <div class="cornersForResize" style=" visibility:visible; padding: 1.5vw; background-color: #EFFBFF">

                <div Style="border-radius: 30px; overflow:hidden; background-color: white;">

                    <MudPaper Class="d-flex flex-row align-items-center " Style="border-radius: 30px; padding: 2vmax; background-color: #01B2E0; position:relative; top: 0; width:100%;">

                        <MudImage Src="Puzzle.svg" Style="min-height:35px; height:3vmax; margin-right: 2vmax" />

                        <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (30 - 20) + 20px); line-height: 115%; text-align: center; color: #FFFFFF;">

                            Творческое задание

                        </MudText>

                    </MudPaper>

                    <MudGrid Style="padding: 2vmax">

                        <MudItem xs="12">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                Для подачи заявки тебе необходимо выполнить творческое задание<br />— <b>снять презентационный ролик.</b><br />В ролике необходимо рассказать о себе и о том, почему именно ты должен стать участником молодежного слета «STOлица.Лето».<br />Приветствуется креативный подход к съемке ролика.
                            </MudText>
                        </MudItem>
                        <MudItem xs="12" Class="d-flex flex-row py-0 justify-content-center align-items-center align-content-center">
                            <MudImage Class="znak" Src="!blue.svg" Style="height:50%; margin-right:3vmin" />
                            
                            <MudText Class="mt-3 mt-lg-0 mb-3 mb-lg-0" Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 100%; color: #282828;">
                                Ролик необходимо прикрепить в формате ссылки на Яндекс.Диск.
                            </MudText>
                        </MudItem>
                        <MudItem xs="12" Style="padding-left:1vmax;" Class="py-0">
                            <MudText Style="text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 130%; color: #282828;">
                                Требования к ролику:
                            </MudText>
                            <MudText Style="margin-left:1vmin; text-align: start; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 130%; color: #282828;">
                                • ролик должен быть длительностью не более 1 минуты;<br />• разрешение ролика 1920*1080 пикселей, соотношение<br />сторон (16:9);
                            </MudText>
                        </MudItem>

                        <MudItem xs="12">

                            <MudPaper Style="margin-top: 2vh; width:100%; background-color: #EFFBFF; border-radius: 30px; transition: 1s;  -webkit-box-shadow: 0px 0px 56px 3px rgba(34, 60, 80, 0.14); -moz-box-shadow: 0px 0px 56px 3px rgba(34, 60, 80, 0.14); box-shadow: 0px 0px 56px 3px rgba(34, 60, 80, 0.14);">
                                <MudButton @onclick="HandleDiskButton" Style="padding:1vh; width:100%; background-color: #EFFBFF; border-radius: 30px">
                                    <MudImage Src="chain.svg" Style="height:100%; width:auto; margin-right:1vmin" />

                                    <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (21 - 17) + 17px); line-height: 115%; text-align: center; color: #282828;">
                                        Добавить ссылку на видео
                                    </MudText>
                                </MudButton>

                                

                                @if (isAddingLink)
                                {
                                    <MudLink Class="m-2 m-lg-0" Href="https://yandex.ru/support/disk/share/sharing.html#how-to-share" Target="_blank" Color="Color.Surface" Style="display:block; margin: 1vw;color: white; font-family: 'Unbounded'; font-style: normal; font-weight: 500; font-size: calc( (100vw - 480px)/(1280 - 480) * (19 - 16) + 16px); line-height: 115%; color: #282828;">
                                        Инструкция «Как загрузить файл на Яндекс.Диск и получить ссылку?»
                                    </MudLink>

                                    <MudTextField Class="mx-4 my-3 m-lg-0" @bind-Value="LQDTO.VideoPath" T="string" Variant="Variant.Text" Placeholder="https://disk.yandex.ru/i/y0urf1l3" Style="background-color: #EFFBFF; margin: 1vw" />
                                    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                                        <div style="visibility:hidden; height: 1px"/>
                                    </MudHidden>
                                }
                            </MudPaper>

                            <MudText Style="margin: 1vmax 0 1vmax 0; text-align: center; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (17 - 15) + 15px); line-height: 130%; color: #282828;">
                                Если у тебя возникли трудности с загрузкой видео на Яндекс.Диск
                            </MudText>

                            <MudButton Href="https://t.me/STOlitsa_Leto" Target="_blank" Rel="nofollow noopener" Style="width:100%; background-color: #01B2E0; border-radius: 30px;  -webkit-box-shadow: 0px 0px 56px 3px rgba(34, 60, 80, 0.14); -moz-box-shadow: 0px 0px 56px 3px rgba(34, 60, 80, 0.14); box-shadow: 0px 0px 56px 3px rgba(34, 60, 80, 0.14);">
                                <MudImage Src="telegram.svg" Style="height:100%"/>
                                <MudText Style="margin: 1vmin; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: calc( (100vw - 480px)/(1280 - 480) * (21 - 17) + 17px); line-height: 115%; text-align: center; color: #FFFFFF;">
                                    Напиши сюда
                                </MudText>
                            </MudButton>
                            

                            @if (!String.IsNullOrEmpty(Alert))
                            {
                                <MudText Style="text-align:left; margin-top: 1vmax" Color="@Color.Error">
                                    @Alert
                                </MudText>
                            }
                        </MudItem>

                    </MudGrid>

                </div>

                <MudHidden Breakpoint="Breakpoint.MdAndUp">
                    <MudButton Disabled="@_processing" @onclick="Submit" Style="padding:2vmax; width:100%; margin-top: 3vh; background-color: #01B2E0; border-radius: 30px">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; text-align: center; color: #FFFFFF;">
                                Отправляем
                            </MudText>
                        }
                        else
                        {
                            <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; text-align: center; color: #FFFFFF;">
                                Подать заявку
                            </MudText>
                        }

                    </MudButton>

                    <div class="d-flex flex-row align-content-center align-items-center justify-content-center align-self-center text-center" style="vertical-align:central; margin-bottom:3vh; margin-top: 3vh;">
                        <MudCheckBox Class="align-self-start" @bind-Checked="@isAgreed" Color="Color.Secondary" />

                        <MudText Style="; vertical-align:central; text-align: left; font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 12px; line-height: 115%; color: #282828;">
                            Нажимая кнопку «Подать заявку», я принимаю политику конфиденциальности и условия конкурсного отбора
                        </MudText>

                    </div>
                </MudHidden>

            </div>

        </div>

        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <MudPaper Class="align-self-start" Style="margin-left: 1vw; background-color: #01B2E0; border-radius: 30px">
                <MudText Style="white-space:nowrap; margin: 2.5vh 1vw; text-align:start; font-family: 'Unbounded'; font-style: normal; font-weight: 700; font-size: 30px; line-height: 130%; color: white;">
                    Заявка на участие в<br />молодежном слете<br />«STOлица.Лето»
                </MudText>
                <MudPaper Style="background-color: white; border-radius: 30px; padding: 1vw">
                    <MudButton Disabled="@_processing" @onclick="Submit" Style="padding:1vh; width:100%; margin-bottom: 2vh; margin-top: 2vh; background-color: #01B2E0; border-radius: 30px">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; text-align: center; color: #FFFFFF;">
                                Отправляем...
                            </MudText>
                        }
                        else
                        {
                            <MudText Style="font-family: 'Unbounded'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 115%; text-align: center; color: #FFFFFF;">
                                Подать заявку
                            </MudText>
                        }
                    </MudButton>

                    <div class="d-flex flex-row align-content-center align-items-center justify-content-center align-self-center text-center" style="vertical-align:central; margin-bottom: 1vh; margin-top: 1vh;">
                        <MudCheckBox Class="align-self-start" @bind-Checked="@isAgreed" Color="Color.Secondary" />
                        
                        <MudText Style="vertical-align:central; text-align: left; font-family: 'Unbounded' ; font-style: normal; font-weight: 400; font-size: 12px; line-height: 115%; color: #282828;">
                            Нажимая кнопку «Подать заявку», я принимаю <MudLink Target="_blank" Style="font-family: 'Unbounded' ; font-style: normal; font-weight: 400; font-size: 12px; line-height: 115%; color: #282828;" Href="https://disk.yandex.ru/i/gn_YjTXOpUOp0A">политику конфиденциальности</MudLink> и <MudLink Target="_blank" Style="font-family: 'Unbounded' ; font-style: normal; font-weight: 400; font-size: 12px; line-height: 115%; color: #282828;" Href="https://disk.yandex.ru/i/KIT3AipnanuzVA">условия конкурсного отбора</MudLink>
                        </MudText>

                    </div>

                </MudPaper>
            </MudPaper>
        </MudHidden>
    </div>

</div>



@code {
    public bool isAddingLink = false;

    public bool isAgreed = false;

    public QuestionnairyDTO LQDTO;

    public void HandleDiskButton()
    {
        isAddingLink = !isAddingLink;
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine(QService.GetStep());
        LQDTO = QService.Get();
        StateHasChanged();

        switch (QService.GetStep())
        {
            case 1:
                Nigger.NavigateTo("/questionnaire_part_1");
                break;
            case 2:
                Nigger.NavigateTo("/questionnaire_part_2");
                break;
            case 3:
                break;
            default:
                Nigger.NavigateTo("/");
                break;
        }
    }

    public string Alert = "";

    public async Task Submit()
    {
        if (Regex.IsMatch(LQDTO.VideoPath, @"disk\.yandex\.ru\/i\/"))
        {
            QService.SetVideo(LQDTO.VideoPath);
            if (isAgreed)
            {
                _processing = true;
                await QService.SendQuestionnarry();
                _processing = false;
                Nigger.NavigateTo("/success");
            }
            else Alert = "Необходимо согласиться с политикой конфиденциальности и условиями конкурсного отбора";
        }
        else Alert = "Ты уверен, что прикрепил видео?";
    }

    public void GoBack()
    {
        Nigger.NavigateTo("/questionnaire_part_2");
    }

    private bool _processing = false;
}